
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body{
    margin: auto;
}
header{
    border-bottom: solid 1px black;
}

ul{
    list-style-type: none;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 40px;
}
.nav-list-item{
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
.item:hover{
    color: blue;
}
.title{
  margin: 0;
  padding: 0%;
  min-height: 80vh;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-size: cover;
  background-position: center center;

}
h1{
    font-size: 100px;
    font-family: 'EB Garamond', serif;
}
.works{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 700px;
    background-color: rgb(235, 235, 235);
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll-1 {
    opacity: 1;
    transform: translate(0, 0);
  }
.works-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1000px;
}

a{
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-family: 'EB Garamond', serif;
}
.club{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/teamai.jpeg);
    background-size: 600px;
    height: 455px;
    margin-left: 20px;
    margin-right: 100px;
    border-radius: 10%;
}
.origi{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/photos/all.png);
    background-size: 600px;
    height: 455px;
    margin-left: 100px;
    margin-right: 20px;
    border-radius: 10%;
}
h2{
    font-size: 60px;
    margin-top: 50px;
    font-family: 'EB Garamond', serif;
}
.ABOUT{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    background-color: white;
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll-2 {
    opacity: 1;
    transform: translate(0, 0);
  }
.about-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    flex: 1;
}
.icon img{
    width:400px;
    border-radius: 50%;
}
.about-text{
    flex: 1;
}
.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
    background-color: white;
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll-3 {
    opacity: 1;
    transform: translate(0, 0);
  }
.skill-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skill-icon{
    margin-right: 100px;
    margin-left: 100px;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: gray;
    height: 100px;
}
h3{
    font-family: 'EB Garamond', serif;
}
.adress{
    margin-top: 10px;
    font-family: 'EB Garamond', serif;
}
#page_top{
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #9b9b9b;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }