

.top{
    display: flex;
    flex-direction: row;
    border-bottom: solid 0.5px black;
}


body{
    margin: auto;
}
header{
    border-bottom: solid 1px black;
}

ul{
    list-style-type: none;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-list-item{
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0%;
    border-bottom: solid 1px black;
}
h1{
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}
h5{
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 150px;
}
.works{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    border-bottom: solid 1px black;
}
.works-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.club{
    flex: 1;
}
.origi{
    flex: 1;
}
h2{
    margin-top: 50px;
}
.ABOUT{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    border-bottom: solid 1px black;
}
.about-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    flex: 1;
}
.icon img{
    width:400px;
    border-radius: 50%;
}
.about-text{
    flex: 1;
}