

.top{
    display: flex;
    flex-direction: row;
    border-bottom: solid 0.5px black;
   
}


body{
    margin: auto;
}
header{
    border-bottom: solid 1px black;
}

ul{
    list-style-type: none;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-list-item{
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
.title{
  margin: 0;
  padding: 0%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
  border-bottom: solid 1px black;
}
h1{
    font-size: 100px;
}
h5{
    font-size: 30px;
}
.works{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    border-bottom: solid 1px black;
}
.works-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1000px;
}
a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.club{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.origi{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 40px;
    margin-top: 50px;
}
.ABOUT{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    border-bottom: solid 1px black;
}
.about-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    flex: 1;
}
.icon img{
    width:400px;
    border-radius: 50%;
}
.about-text{
    flex: 1;
}
.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: solid 1px black;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.adress{
    margin-top: 10px;
}