body{
    margin: 0%;
}
header{
    border-bottom: solid 1px black;
}
ul{
    list-style-type: none;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 40px;
}
.nav-list-item{
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
a{
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.item:hover{
    color: blue;
}
.mov{
    height: 550px;
    display: flex;
    justify-content: center;
}
iframe{
    width: 1500px;
}
.k{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kiri{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.kiri-item{
    width: 500px;
}
.A{
    display: flex;
    text-align: center;
    flex-direction: column;
}
p{
    margin-left: 30px;
    font-size: 20px;
}
video{
    width: 800px;
}
.image-item{
    height: 100px;
    width: auto;
}
.soft{
    display: flex;
    text-align: center;
    flex-direction: column;
}