body{
    margin: 0%;
    background-color: rgb(213, 247, 255);
}
header{
    margin-top: 0%;
    border-bottom: solid 1px black;
    background-color: white;
}
ul{
    list-style-type: none;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0%;
    margin-right: 40px;
}
.nav-list-item{
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.item:hover{
    color: blue;
}
.made-of{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(../img/Blender_23505.png);
    width: 250px;
    height: 250px;

}
.made-of2{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(../img/maya.png);
    width: 250px;
    height: 250px;

}
.m-text{
    text-align: center;
    margin: auto;
    margin-bottom: 0%;
}
.gallery-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.gallery-item{
    margin: 30px;
    margin-bottom: 0%;
    background-color: white;
    border-bottom:solid 2px blue;
}
img{
    height: 300px;
}
.text{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0%;
    font-size: 20px;
}