body{
    margin: 0%;
    background-color: rgb(213, 247, 255);
}
header{
    margin-top: 0%;
    border-bottom: solid 1px black;
    background-color: white;
}
ul{
    list-style-type: none;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0%;
    margin-right: 40px;
}
.nav-list-item{
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: 'EB Garamond', serif;
}
h2{
    font-family: 'EB Garamond', serif;
}
.item:hover{
    color: blue;
}
.made-of{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(../img/Blender_23505.png);
    width: 250px;
    height: 250px;

}
.made-of2{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(../img/maya.png);
    width: 250px;
    height: 250px;

}
.m-text{
    text-align: center;
    margin: auto;
    margin-bottom: 0%;
    font-size: 35px
}
.gallery-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.gallery-item{
    margin: 30px;
    margin-bottom: 0%;
    background-color: white;
    border-bottom:solid 2px blue;
}
img{
    height: 300px;
}
.text{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0%;
    font-size: 20px;
}
#page_top{
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #9b9b9b;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  